/* ORIGINAL LAYOUT */
/* REMOVED THIS FOR THE NEW FLEXIBNLE CATEGROY LAYOUT. IF GOING BACK TO ORIGINAL, THIS NEEDS TO COME BACK */

/*
.CategoryDescription, .DataList .Item .Meta {
    padding-right: 32px;
}

 @media only screen and (max-width:600px) {
     .DataTable .PhotoWrap, .LastUser { display:none !important; }
 }
 */



/* Used Always */

  .CategoryTable thead,
  .CategoryTable td.BigCount,
  .CategoryTable td.LatestPost {
    display: none;
  }
  .CategoryTable tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    align-items: flex-start;
    /*width: 100%;*/
  }
  .CategoryTable tbody tr {
    /*display: block;*/
         -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
                 flex-basis: 30%;
    background-color: transparent !important;
  }
  .CategoryTable tbody tr,
  .CategoryTable tbody td { padding: 0; }
  .CategoryTable td {
    border-bottom: none;
    /*height: 300px;*/
  }
  /*.CategoryTable .Options { margin-left: 0; }*/
  .CategoryTable .Options { display: none; }
  .CategoryTable .PhotoWrap,
  .CategoryTable .PhotoWrap:before { box-shadow: none; }
  .CategoryTable .CategoryPhoto {
    max-height: 256px;
    height: 256px;
    width: 256px;
  }

/* Style A - Uses floats for alignment */

  /*This is the technique that cause all left hand items to align to the right and right hand items to align to the left */
  /*.CategoryTable tbody tr:nth-child(odd) .PhotoWrap { float: right; }
  .CategoryTable tbody tr:nth-child(even) .PhotoWrap { float: left; }*/

  /*
  .CategoryTable tbody tr:nth-child(4n-3) .PhotoWrap,
  .CategoryTable tbody tr:nth-child(4n) .PhotoWrap   { float: right; }
  .CategoryTable tbody tr:nth-child(4n-1) .PhotoWrap,
  .CategoryTable tbody tr:nth-child(4n-2) .PhotoWrap { float: left; }
  */

/* Style B - Uses Flexing and centering */
  .CategoryTable tbody tr {
    text-align: center;
    margin: 16px 0;
  }
  .CategoryTable .Wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
  }
  .CategoryTable .Wrap > * {
         -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
                 flex-basis: 100%;
  }
  .CategoryTable h2 { margin: 1em 0 .5em; }
  .CategoryTable .PhotoWrap { margin: 0; }
  .CategoryTable .CategoryPhoto { margin: 0 auto; }



@media only screen and (max-width:1280px) {

  /* CATEGORY PAGES */
  .CategoryTable tbody tr {
         -webkit-flex-basis: 46%;
    -ms-flex-preferred-size: 46%;
                 flex-basis: 46%;
  }
}


@media only screen and (max-width:1024px) {

  /* CATEGORY PAGES */
  .CategoryTable .CategoryPhoto {
    max-height: 192px;
    height: 192px;
    width: 192px;
  }
}


@media only screen and (max-width:600px) {

  /* CATEGORIES PAGES */
  .CategoryTable tbody {
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
  }
  .CategoryTable tbody tr {
         -webkit-flex-basis: 94%;
    -ms-flex-preferred-size: 94%;
                 flex-basis: 94%;
    text-align: left;
  }
  .CategoryTable .Wrap { display: block; }
  /*.CategoryTable .Options { width: 100%; }*/
  .CategoryTable .CategoryPhoto {
    max-height: 144px;
    height: 144px;
    width: 144px;
    margin: 0 16px 0 0;
  }
  .CategoryDescription { width:100%; }

  /* DISCUSSIONS LIST */
  .DiscussionsTable .FirstUser,
  .DiscussionsTable .CountReplies,
  .DiscussionsTable .CountComments { display: none; }
}


@media only screen and (max-width:432px) {

  /* CATEGORY PAGES */
  .CategoryTable tbody tr { text-align: center; }
  .CategoryTable .Wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .CategoryTable .CategoryPhoto { margin: 0 auto; }
  .CategoryTable h2 { font-size: 150%; }
  .CategoryDescription { font-size: 115%; }

  /* DISCUSSIONS LIST */
  .DiscussionsTable td.BlockColumn-User { display: none; }
}
