.CategoryTable thead,
.CategoryTable td.BigCount,
.CategoryTable td.LatestPost
 {
  display: none;
}

.CategoryTable tbody {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  /*width: 100%;*/
}
.CategoryTable tbody tr {
  /*display: block;*/
  flex-basis: 50%;
  background-color: transparent !important;
}
.CategoryTable tbody tr,
.CategoryTable tbody td { padding: 0; }
/*.CategoryTable tbody tr:nth-child(odd) .PhotoWrap { float: right; }
.CategoryTable tbody tr:nth-child(even) .PhotoWrap { float: left; }*/
.CategoryTable tbody tr:nth-child(4n-3) .PhotoWrap,
.CategoryTable tbody tr:nth-child(4n) .PhotoWrap   { float: right; }
.CategoryTable tbody tr:nth-child(4n-1) .PhotoWrap,
.CategoryTable tbody tr:nth-child(4n-2) .PhotoWrap { float: left; }
.CategoryTable td {
  border-bottom: none;
  height: 300px;
}
.CategoryTable .Wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.CategoryTable .Wrap > * {
  flex-basis: 100%;
}
.CategoryTable .PhotoWrap { margin: 16px 0; }
.CategoryTable .CategoryPhoto { margin: 0 auto; }
.CategoryTable .PhotoWrap,
.CategoryTable .PhotoWrap:before { box-shadow: none; }
.CategoryTable .CategoryPhoto {
  max-height: 192px;
  height: 192px;
  width: 192px;
}
